<%- layout('layouts/boilerplate') %>

<%- block('styles').append("<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />") %>

<section class="section-header">
    <div class="header__hero">
        <div class="header__hero-overlay">&nbsp;</div>
        <img class="header__hero-img" src="/img/tours/<%= tour.imageCover %>" alt="<%= tour.name %>" />
    </div>
    <div class="heading-box">
        <h1 class="heading-primary"><span><%= tour.name %></span></h1>
        <div class="heading-box__group">
            <div class="heading-box__detail">
                <svg class="heading-box__icon">
                    <use xlink:href="/img/icons.svg#icon-clock"></use></svg
                ><span class="heading-box__text"><%= tour.duration %> days</span>
            </div>
            <div class="heading-box__detail">
                <svg class="heading-box__icon">
                    <use xlink:href="/img/icons.svg#icon-map-pin"></use></svg
                ><span class="heading-box__text"><%= tour.startLocation.description %></span>
            </div>
        </div>
    </div>
</section>
<section class="section-description">
    <div class="overview-box">
        <div>
            <div class="overview-box__group">
                <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
                <div class="overview-box__detail">
                    <svg class="overview-box__icon"><use xlink:href="/img/icons.svg#icon-calendar"></use></svg>
                    <span class="overview-box__label">Next date</span>
                    <span class="overview-box__text">
                        <%= tour.startDates[0].toLocaleString('en-IN', { day: 'numeric', month: 'long', year: 'numeric' }) %>
                    </span>
                </div>
                <div class="overview-box__detail">
                    <svg class="overview-box__icon">
                        <use xlink:href="/img/icons.svg#icon-trending-up"></use></svg
                    ><span class="overview-box__label">Difficulty</span
                    ><span class="overview-box__text"><%= tour.difficulty %></span>
                </div>
                <div class="overview-box__detail">
                    <svg class="overview-box__icon">
                        <use xlink:href="/img/icons.svg#icon-user"></use></svg
                    ><span class="overview-box__label">Participants</span
                    ><span class="overview-box__text">Max <%= tour.maxGroupSize %> people</span>
                </div>
                <div class="overview-box__detail">
                    <svg class="overview-box__icon">
                        <use xlink:href="/img/icons.svg#icon-star"></use></svg
                    ><span class="overview-box__label">Rated</span
                    ><span class="overview-box__text"><%= tour.ratingsAvg %> / 5</span>
                </div>
            </div>
            <div class="overview-box__group">
                <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2>
                <% tour.guides.forEach(guide => { %>
                    <div class="overview-box__detail">
                        <img
                            class="overview-box__img"
                            src="/img/users/<%= guide.photo %>"
                            alt="<%= guide.role %> image"
                        />
                        <span class="overview-box__label">
                            <%= guide.role === 'lead' ? 'Lead' : 'Tour' %> guide
                        </span>
                        <span class="overview-box__text"><%= guide.name %></span>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="description-box">
        <h2 class="heading-secondary ma-bt-lg">About <%= tour.name %> tour</h2>
        <% tour.description.split('\n').forEach(para => { %>
            <p class="description__text"><%= para %></p>
        <% }) %>
    </div>
</section>
<section class="section-pictures">
    <% tour.images.forEach((img, idx) => { %>
        <div class="picture-box">
            <img
                class="picture-box__img picture-box__img--<%= idx+1 %>"
                src="/img/tours/<%= img %>"
                alt="<%= tour.name %> image <%= idx+1 %>"
            />
        </div>
    <% }) %>
</section>
<section class="section-map">
    <div id="map" data-locations="<%= JSON.stringify(tour.locations) %>"></div>
</section>
<section class="section-reviews">
    <div class="reviews">
        <% tour.reviews.forEach(review => { %>
            <div class="reviews__card">
                <div class="reviews__avatar">
                    <img
                        class="reviews__avatar-img"
                        src="/img/users/<%= review.userId.photo %>"
                        alt="<%= review.userId.name %>"
                    />
                    <h6 class="reviews__user"><%= review.userId.name %></h6>
                </div>
                <p class="reviews__text"><%= review.review %></p>
                <div class="reviews__rating">
                    <% for(let i = 0; i < 5; i++) { %>
                        <svg class="reviews__star reviews__star--<%= i < review.rating ? 'active': 'inactive' %>">
                            <use xlink:href="/img/icons.svg#icon-star"></use>
                        </svg>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</section>
<section class="section-cta">
    <div class="cta">
        <div class="cta__img cta__img--logo">
            <img src="/img/logo-white.png" alt="Natours logo" />
        </div>
        <img class="cta__img cta__img--1" src="/img/tours/<%= tour.images[0] %>" alt="" />
        <img class="cta__img cta__img--2" src="/img/tours/<%= tour.images[1] %>" alt="" />
        <div class="cta__content">
            <h2 class="heading-secondary">What are you waiting for?</h2>
            <p class="cta__text">
                <%= tour.duration %> days. 1 adventure. Infinite memories. Make it yours today!
            </p>
            <button class="btn btn--green span-all-rows">Book tour now!</button>
        </div>
    </div>
</section>

<%- block('scripts').append(`<script>const mapboxKey = '${mapboxAccessToken}'</script>`) %>